<body>

<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="#">MouridEdu</a>
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <!-- <img class="img-responsive img-rounded" src="https://img.freepik.com/vecteurs-libre/cercle-bleu-utilisateur-blanc_78370-4707.jpg?uid=R147170837&ga=GA1.2.1272467380.1720960746&semt=ais_hybrid"
            alt="User picture"> -->
            <svg width="40" height="40" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.6289 48.75C11.6289 48.75 18.75 48.75 22.5 45" stroke="#FFD233" stroke-width="3.75" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M22.5 45C22.5 45 26.25 48.75 30 48.75" stroke="#FFD233" stroke-width="3.75" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M48.3711 48.75C48.3711 48.75 41.25 48.75 37.5 45" stroke="#FFD233" stroke-width="3.75" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M37.5 45C37.5 45 33.75 48.75 30 48.75" stroke="#FFD233" stroke-width="3.75" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M30 11.2502C37.5 11.2502 41.25 15.0002 41.25 26.2502C41.25 35.6251 33.75 41.2501 30 41.2501" stroke="#FFD233" stroke-width="3.75" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M29.9999 11.2502C22.5 11.2502 18.75 15.0002 18.75 26.2502C18.75 35.6251 26.25 41.2501 30 41.2501" stroke="#FFD233" stroke-width="3.75" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M37.5001 45L35.762 38.5132" stroke="#FFD233" stroke-width="3.75" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M22.5 45L24.2381 38.5132" stroke="#FFD233" stroke-width="3.75" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M30 56.2498C44.4974 56.2498 56.2498 44.4974 56.2498 30C56.2498 15.5027 44.4974 3.75024 30 3.75024C15.5027 3.75024 3.75024 15.5027 3.75024 30C3.75024 44.4974 15.5027 56.2498 30 56.2498Z" stroke="#FFD233" stroke-width="3.75" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        <div class="user-info">
          <span class="user-name">{{ userConnected?.name }}
            <!-- <strong>Niang</strong> -->
          </span>
          <span class="user-role">Administrateur</span>
        </div>
      </div>
  
      <div class="sidebar-menu">
        <ul>
          <li>
            <a routerLink="/dashbord-admin">
              <i class="fa fa-tachometer-alt"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa-sharp fa-solid fa-users"></i>
              <span>Gestion Utilisateurs</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a class="nav-link active"  routerLink="/roles" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Roles</a>
                </li>
                <li>
                  <a class="nav-link active"  routerLink="/utilisateurs" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Utilisateurs</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <!-- <i class="far fa-gem"></i> -->
              <i class="fa-solid fa-question"></i>
              <span>Gestion Quiz</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a class="nav-link active" routerLink="/quiz-admin" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Quizs</a>
                </li>
                <li>
                  <a class="nav-link active" routerLink="/questions" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Questions</a>
                </li>
                
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa-duotone fa-solid fa-book"></i>
              <span>Gestion Livres</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a class="nav-link active" routerLink="/categories" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Categories</a>
                </li>
                <li>
                  <a class="nav-link active" routerLink="/livres" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Livres</a>
                </li>
                <li>
                  <a class="nav-link active" routerLink="/chapitres" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Chapitres</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">

      <a>
        <i class="fa fa-cog"></i>
      </a>
      <a (click)="logout()">
        <i class="fa-solid fa-right-from-bracket"></i>
      </a>
    </div>
  </nav>
  <!-- sidebar-wrapper  -->
  <main class="page-content">
    <div class="container-fluid">
      <!-- <h2>MouridEdu</h2> -->
        <!-- Logo à gauche -->
      <a class="navbar-brand" href="#">
        <img src="../../../../assets/images/logo.png" alt="logo" class="img-fluid">
      </a>
      <hr>

      <div class="row">

            <!-- contenue de la platforme  -->
            <router-outlet></router-outlet>
            <!-- fin du contenue de la platforme  -->

          </div>          
        </div>

  </main>
  <!-- page-content" -->
</div>
<!-- page-wrapper -->
  
</body>