.offcanvas-start {
    width: 250px; /* Ajustez cette largeur si nécessaire */
  }

  /* Ajoutez ceci au début de votre fichier CSS */
body {
  padding-top: 300px; 
}

  /* Couleur de fond pour la navbar */
  .navbar {
    background-color: #2E8B57;
    border-bottom: 2px solid #FFF;
    background: #2E8B57;
  }

  /* Texte blanc pour les liens et le nom de la marque dans la navbar */
  .navbar .nav-link,
  .navbar .navbar-brand {
    color: #fff;
  }

  /* Icône du toggle (menu burger) en blanc sans encadrement */
  .navbar-toggler {
    background: none; /* Supprime le fond et la bordure */
    border: none;     /* Supprime la bordure */
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navbar-nav .nav-item {
    margin-left: 15px;
  }

  .navbar-nav .nav-item:last-child {
    margin-right: 0; /* Supprime la marge à droite du dernier élément */
  }

  .connexion {
    width: 120.921px;
    height: 31.333px;
    border-radius: 5px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(46, 139, 87, 0.25);
    color: #2E8B57;
    font-family: "Playfair Display";
    font-size: 18px;
    font-weight: 400;
    border: none;
  }
  .connexion svg {
    display: none;
    }
 


  .offcanvas-footer h2 {
    display: none;
  }



  /* Alignement total à droite en mode bureau */
  @media (min-width: 768px) {
    .offcanvas-body {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    /* .dropdown-menu li a{
      cursor: pointer;
      color: #000;
      font-family: "Playfair Display";
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .dropdown-item{
      color: #000;
    } */

      /* Ajouter une classe spécifique pour plus de contrôle */
  .custom-dropdown .dropdown-menu li a,
  .custom-dropdown .dropdown-item {
    color: #000 !important;
  }
    .offcanvas-body ul li a {
      cursor: pointer;
      color: #fff;
      font-family: "Playfair Display";
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  /* Alignement de la liste à droite en mode mobile */
  @media (max-width: 768px) {

    .offcanvas-body ul li a {
      cursor: pointer;
      color: #000;
      font-family: "Playfair Display";
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .connexion svg {
    display: block;
    margin-right: 10px;
    }

    .offcanvas-footer h2 {
    display: flex;
  }
    .navbar-nav {
      flex-direction: column;
      align-items: flex-start;
    }

    .navbar-nav .nav-item {
      margin-left: 0;
      margin-bottom: 15px;
    }

    .container-fluid img {
      display: block;
      max-width: 100%;
      height: auto;
    }

    .navbar-brand img {
        display: none;
    }

    .navbar-nav .nav-link {
        color: #000;
        /* Button text */
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .offcanvas-title img {
        width: 60px;
        height: 60px;
        flex-shrink: 0;
        border-radius: 60px;
    }

   .nom-profil{
    color: #000;
    /* H1,H2,H3 : titre */
    font-family: "Playfair Display";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   }

   .offcanvas-footer{
    margin-top: 30px;
    width: 220px;
    height: 41px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #2E8B57;
    color: #FFF;

    /* Button text */
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
   }

   .connexion{
    background-color: white;
    color: #000;

    display: flex;


    /* Button text */
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    box-shadow: 0px 0px 0px 0px rgba(46, 139, 87, 0.25);

    margin-top: 35px;
   }

    /* Ajout d'un trait horizontal sous chaque élément de la liste en mode mobile */
.navbar-nav .nav-item {
position: relative;
}

.navbar-nav .nav-item:not(:last-child)::after {
content: "";
display: block;
width: 210px;
height: 1px;
background: #ddd; /* Couleur de la ligne horizontale */
position: absolute;
bottom: 0;
left: 0;
/* margin: 10px 0; */
margin-top: 15px;
}
  }