   <style>
    .titre-tableau{
        color: #2E8B57;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .text-ajout{
        color: #FFF;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .button-add{
        background-color: #2E8B57;
        border: #2E8B57;
    }
    .button-edit{
        background-color: #FFD233;
        border: #FFD233;
    }

    input[type="checkbox"]:checked {
    accent-color: #2E8B57;
    }

    .liste-reponse{
        list-style: none;
        text-decoration: none;
    }

</style>
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="card">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="titre-tableau m-0 font-weight-bold">Questions</h6>
            <div class="ml-auto">
                <a routerLink="/add-questions" class="button-add btn btn-primary">
                    <span class="icon text-white-50">
                        <i class="fa fa-plus"></i>
                    </span>
                    <span class="text-ajout">Ajouter</span>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Question</th>
                            <th>Réponses</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let question of pageQuestions">
                            <td>{{ question.id }}</td>
                            <td>{{ question.text }}</td>
                            <td>
                                <ul class="liste-reponse">
                                    <li *ngFor="let answer of question.answers">
                                        <input type="checkbox" [checked]="answer.correct_one === 1"   
                                        (click)="$event.preventDefault()" class="checkbox-reponse"/>
                                        {{ answer.text }}
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <a [routerLink]="['/questionEdit', question.id]" class="button-edit btn btn-info">
                                        <i class="fa fa-pencil-alt" style="color: #2E8B57;"></i>
                                    </a>
                                    <button class="btn btn-danger" (click)="deleteQuestion(question.id?.toString())">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                     <!-- section de la pagination  -->
                     <div class="pagination-container">
                        <div class="d-flex align-items-center justify-content-end mt-5">
                          <i class="fa-solid fa-chevron-left" (click)="prevPage()" [class.disabled]="currentPage === 1" style="cursor: pointer; color: #FFD233; font-size: 32px;"></i>
                          <div class="icone d-flex align-items-center justify-content-center" style="background-color: #FFF; padding: 10px; border-radius: 5px; margin: 0 10px;">
                            <span class="mingcute--user-add-fill" style="font-weight: bold;">{{currentPage}} / {{totalPages}}</span>
                          </div>
                          <i class="fa-solid fa-chevron-right" (click)="nextPage()" [class.disabled]="currentPage === totalPages" style="cursor: pointer; color: #FFD233; font-size: 32px;"></i>
                        </div>
                      </div>
                     <!-- fin section de la pagination  -->
            </div>
        </div>
    </div>
</div>

