.titre-tableau{
    color: #2E8B57;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.text-ajout{
    color: #FFF;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button-add{
    background-color: #2E8B57;
    border: #2E8B57;
}
.button-edit{
    background-color: #FFD233;
    border: #FFD233;
}

input[type="checkbox"]:checked {
accent-color: #2E8B57;
}

.liste-reponse{
    list-style: none;
    text-decoration: none;
}
