   <style>
    .titre-tableau{
        color: #2E8B57;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .text-ajout{
        color: #FFF;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .button-add{
        background-color: #2E8B57;
        border: #2E8B57;
    }
    .button-edit{
        background-color: #FFD233;
        border: #FFD233;
    }
    a {
        cursor: pointer;
    }
</style>

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="card">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="titre-tableau m-0 font-weight-bold ">Chapitres</h6>
            <div class="ml-auto">
                <a routerLink="/add-livre" class="button-add btn btn-primary">
                    <span class="icon text-white-50">
                        <i class="fa fa-plus"></i>
                    </span>
                    <span class="text-ajout" >Ajouter</span>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Titre</th>
                            <th>Description</th>
                            <!-- <th>Image</th> -->
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let chapitre of chapitres">
                            <td>{{ chapitre.id }}</td>
                            <td>{{ chapitre.title }}</td>
                            <td>{{ chapitre.description }}</td>
                            <!-- <td>
                              <img [src]="chapitre.video" alt="Image du livre" style="max-width: 100px; max-height: 100px;">
                            </td> -->
                            <td>
                              <!-- <div class="btn-group btn-group-sm">
                                <a [routerLink]="['/chapitreEdit', chapitre.id]" class="button-edit btn btn-info">
                                  <i class="fa fa-pencil-alt" style="color: #2E8B57;"></i>
                                </a>
                                <button (click)="deleteChapitre(chapitre.id?.toString())" class="btn btn-danger">
                                  <i class="fa fa-trash"></i>
                                </button>
                              </div> -->
                              <div class="btn-group btn-group-sm">
                                <a [routerLink]="['/chapitreEdit', chapitre.id]" class="">
                                    <i class="fa fa-pencil-alt" style="color: #2E8B57;"></i>
                                </a>

                                <a (click)="deleteChapitre(chapitre.id?.toString())"  >
                                    <i class="fa fa-trash" style="color: red;margin-left: 15px;"></i>
                                </a>

                                <a (click)="openChapterDetails(chapitre)">
                                    <i class="fa-solid fa-eye" style="color: #000;margin-left: 15px;"></i>
                                </a>
                                  
                            </div>
                            </td>
                          </tr>
                        <!-- <tr *ngIf="categories.length === 0">
                            <td colspan="4" class="text-center">Data Empty</td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
            <!-- Pagination -->
           
        </div>
    </div>
</div>