    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Categories</title>

    <style>
   .recherche{
        width: 266px;
        height: 50px;
        flex-shrink: 0;
        border-radius: 10px;
        border: 2px solid var(--griy, #D9D9D9);
        background: #FFF;
   }

   .listes{
    width: 265px;
    height: auto;
    flex-shrink: 0;

    border-radius: 10px;
    border: 1px solid var(--griy, #D9D9D9);
    background: #FFF;
    margin-top: 10px;
   }

   /* listes de raccourcis  */
   /* .listes ul li {
    color: #000;
    font-family: "Playfair Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-decoration: none;
    list-style: none;
   } */

   .listes ul {
  padding: 1em;
  margin: auto;
  border-radius: 1em;
  /* background-color: #2E8B57; */
  background-color: rgba(46, 139, 87, 0.5);

  list-style: none;
  max-width: 20em;

   /* Ajout de la hauteur maximale et du défilement vertical */
   max-height: 400px; /* Vous pouvez ajuster cette hauteur selon vos besoins */
  overflow-y: auto;
}

.listes li {
  background-color: #ccc;
  border-radius: .5em;
  transition: all .2s;
}

.listes ul li a {
  color: #2E8B57;

/* H1,H2,H3 : titre */
font-family: "Playfair Display";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
}
.listes li + li {
  margin-top: 1em;
}

.listes li > a {
  display: block;
  padding: .5em;
}

.listes ul > li:hover {
  background-color: #eee;
}

.listes ul:has(li:hover) > li:not(:hover) {
  opacity: .5;
}

   .titre-h2{
    color: #2E8B57;

    /* H1,H2,H3 : titre */
    font-family: "Playfair Display";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   }
.raccourcis{
   margin: 20px;
}
.card-xassidas .card {
  position: relative;
  overflow: hidden;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-xassidas .card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.card-xassidas .card:hover .card-img-top {
  transform: scale(1.1);
}

.card-xassidas .card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  padding: 15px;
  text-align: center;
  transition: opacity 0.3s ease-in-out;
}

.card-xassidas .card:hover .card-body {
  opacity: 1;
}

.card-title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.card-text {
  font-family: "Playfair Display", serif;
}

.liste-xassidas{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

/* card 3D book  */

        .book-card {
            width: 200px;
            padding: 10px;
            border-radius: 5px;
            background-color: #fff;
            /* box-shadow:
                0 3px 6px rgba(0, 0, 0, 0.16),
                0 3px 6px rgba(0, 0, 0, 0.23); */
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                
        }
        .book-card__cover {
            position: relative;
            width: 150px;
            height: 200px;
            margin: 0 auto 8px auto;
            perspective: 1000px;
        }
        .book-card__book {
            height: 100%;
            transform-style: preserve-3d;
            transition: all 250ms ease;
        }
        .book-card__book-front {
            position: absolute;
            height: 100%;
        }
        .book-card__book-back {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            transform: translateZ(-40px);
        }
        .book-card__book-side {
            position: absolute;
            top: 5px;
            bottom: 2px;
            right: -29px;
            width: 40px;
            background-size: 5px;
            background-color: #e1e1e1;
            background-image: linear-gradient(to right, #ccc 35%, #e1e1e1 35%);
            opacity: 0;
            transform: rotate3d(0, 1, 0, 90deg);
        }
        .book-card__img {
            width: 100%;
            height: 100%;
            background-color: #e1e1e1;
        }
        .book-card__title {
            /* font-size: 1.5em; */
            margin-bottom: 8px;
            color: #000;

            /* Paragraphe description */
            font-family: "Open Sans";
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .book-card__author {
            color: #757575;
            font-size: 1em;
        }
        .book-card:hover .book-card__book {
            transform: rotate3d(0, -1, 0, 30deg) translate(-15px, -30px);
        }
        .book-card:hover .book-card__book-back {
            box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.35);
        }
        .book-card:hover .book-card__book-side {
            opacity: 1;
        }


        .cards-nav{
          display: none;
        }

        .categorie-titre{
        display: none;
        }


        /* rechercher un livre  */
        .search {
            width: 100%;
            position: relative;
            display: flex;
          }

          .searchTerm {
            width: 100%;
            border: 3px solid #2E8B57;
            border-right: none;
            padding: 5px;
            height: 100%;
            border-radius: 5px 0 0 5px;
            outline: none;
            color: #9DBFAF;
          }

          .searchTerm:focus{
            color: #00B4CC;
          }

          .searchButton {
            width: 40px;
            height: 36px;
            border: 1px solid #2E8B57;
            background: #2E8B57;
            text-align: center;
            color: #fff;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
            font-size: 20px;
          }


          

        @media (max-width: 991px) {
         
          .raccourcis{
            display: none;
          }

            .book-card {
            width: 160px;
            padding: 10px;
            border-radius: 5px;
            background-color: #fff;
            box-shadow:
                0 3px 6px rgba(0, 0, 0, 0.16),
                0 3px 6px rgba(0, 0, 0, 0.23);
        }

        .book-card__cover {
            position: relative;
            width: 140px;
            height: 200px;
            margin: 0 auto 8px auto;
            perspective: 1000px;
        }
        /* .raccourcis{
          display: none;
        } */


          /* button de navigation entre les livres  */
          .cards-nav{
          display: flex;
          width: 165px;
          height: 48px;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
          border: none;
          margin: 5px;
          border-radius: 5px;
          background: #FFF;

          /* format ecriture  */
          color: #2E8B57;
          font-family: Lato;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }


        .cards-nav:hover {
          color: #fff;
          background: #2E8B57;
        }
        .button-nav-listes{
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .categorie-titre{
          text-align: center;
          color: #2E8B57;

          /* H1,H2,H3 : titre */
          font-family: "Playfair Display";
          font-size: 25px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }


        }

       



        @media (min-width: 993px) {
         
         .container{
         margin: 0;
         padding: 0;
        }
     }

     .container-all{
      margin-top: 95px;
     }
    </style>
  
    <!-- heritage du navbar start  -->
    <app-navbar-apprenant></app-navbar-apprenant>
    <!-- heritage du navbar end  -->
<section class="container-all">
<h1 class="categorie-titre">Xassidas</h1>
<div class="button-nav-listes">
  <button class="cards-nav" id="cartes" (click)="showCards()">Cartes</button>
  <button class="cards-nav" (click)="showList()">Listes</button>
</div>
<section class="liste-xassidas">
    <div *ngIf="isListVisible" class="raccourcis">
      <h2 class="titre-h2">Xassida</h2>
      <!-- <input type="text" class="recherche"> -->
       <div class="wrap">
   <div class="search">
      <input type="text" class="searchTerm" placeholder="Rechercher un livre">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
   </div>
</div>
      <div class="listes">
      
        <ul>
          <!-- <li><a href="#">Touhfatou moutadarihine</a></li>
          <li><a href="#">Matlaboul chifa</a></li>
          <li><a href="#">Mafatihoul Bichri</a></li>
          <li><a href="#">Mawahibou</a></li>
          <li><a href="#">Massalikoul djinane</a></li>
          <li><a href="#">link 4</a></li>
          <li><a href="#">link 4</a></li>
          <li><a href="#">link 4</a></li>
          <li><a href="#">link 4</a></li> -->
          <li *ngFor="let book of books"><a href="#">{{ book.title }}</a></li>
        </ul>
      </div>
    </div>
    <div  *ngIf="isListVisible" class="card-xassidas">
 

         <!-- fin de la section statique  -->
  <div class="container  mt-5">
        <div class="row row-cols-2 row-cols-md-4 g-4">
          




            <div class="col" *ngFor="let book of books">
              <div class="book-card">
                <div class="book-card__cover">
                  <div class="book-card__book">
                    <div class="book-card__book-front">
                      <!-- <img class="book-card__img" [src]="book.image" [alt]="book.title + ' image'"> -->
                      @if (book.image) {
                        <img class="book-card__img" [src]="book.image" [alt]="book.title + ' image'">
                      } @else {
                        <div class="text-center p-3">{{messageImage}}</div>
                      }
                    </div>
                    <div class="book-card__book-back"></div>
                    <div class="book-card__book-side"></div>
                  </div>
                </div>
                <div>
                  <div class="book-card__title">{{ book.title }}</div>
                  <div class="book-card__author">{{ book.description }}</div>
                </div>
              </div>
            </div>




        </div>
    </div>


  </div>
</section>

</section>