body {
    background-color: #1e5631;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: var(--vert-secondaire, rgba(46, 139, 87, 0.50)); */
  
}
.login-card {
    /* background-color: white; */
    display: flex;
    justify-content: center; /* Centrage horizontal */
    align-items: center;     /* Centrage vertical */
    border-radius: 15px;
    padding: 2rem;
    width: 100%;
    max-width: 957px;
    width: 957px;
    height: 848px;
    flex-shrink: 0;
    border-radius: 15px;
    text-align: left;
    /* background: url('../../../../assets/images/fond-form.png') lightgray 50% / cover no-repeat; */
    /* background-image: linear-gradient(rgba(76, 175, 80, 0.7), rgba(76, 175, 80, 0.7)), url('../../../../assets/images/fond-form.png'); */
    background-image: linear-gradient(rgba(30, 86, 49, 0.2), rgba(30, 86, 49, 0.2)), url('../../../../assets/images/fond-form.png');
}
.wave-shape {
    background-color: #4caf50;
    height: 150px;
    border-radius: 15px 15px 50% 50% / 15px 15px 25% 25%;
}
.btn-custom {
    background-color: #4caf50;
    border: none;
    color: white;
}
.btn-custom:hover {
    background-color: #4caf50;
    color: white;
}

.form-login{
    width: 558px;
    min-height: 750px;
    height: auto;
    transition: height 0.3s ease-in-out;
    flex-shrink: 0;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.30);
    /* text-align: center; */
}
/* Wave container to hold the SVG */
/* .wave-container {
border-radius: 30px 30px 0 0;
overflow: hidden; 
position: relative;
width: 100%;
height: 450px;
}

.wave-top, .wave-bottom {
position: absolute;
top: 0;
left: 0;
width: 100%;
}
.wave-top {
z-index: 1; 
}

.wave-bottom {
z-index: 0; 
top: 13px;
} */
.formulaire {
margin-top: -100px;
padding: 25px;
display: flex;
flex-direction: column;

}

.text-connexion {
color: #2E8B57;
font-family: "Playfair Display";
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: left; 
}

label {
color: #2E8B57;
font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

input {
border-radius: 10px;
border: 1px solid #2E8B57;
background: rgba(47, 128, 237, 0.00);
}

button[type="submit"] {
width: 201.836px;
height: 60px;
flex-shrink: 0;
border-radius: 7px;
border: 1px solid #2E8B57;
background: rgba(47, 128, 237, 0.00); /* Fond transparent */
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
color: #2E8B57;
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.wave-footer {
border-radius:0 0 30px 30px ;
overflow: hidden; 
position: relative;
width: 100%;
height: 130px;
top: -130px;
z-index: 0; 
}
.nouveauCompte{
z-index: 1; 
float: right;
color: #2E8B57;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.nouveauCompte a {
z-index: 1; 
float: right;
color: #2E8B57;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 5px;
}

.password-forget{
color: #B7BF99;
font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}




/* Media Queries pour les appareils mobiles */
@media screen and (max-width: 768px) {
body {
    background-color: #1e5631;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    /* height: 100vh; */
    /* background: var(--vert-secondaire, rgba(46, 139, 87, 0.50)); */
  
}
.login-card {
    /* background-color: white; */
    display: flex;
    justify-content: center; /* Centrage horizontal */
    align-items: center;     /* Centrage vertical */
    border-radius: 15px;
    padding: 2rem;
    width: 100%;
    max-width: 957px;
    width: 957px;
    height: 848px;
    flex-shrink: 0;
    border-radius: 15px;
    text-align: left;
    /* background: url('../../../../assets/images/fond-form.png') lightgray 50% / cover no-repeat; */
    /* background-image: linear-gradient(rgba(76, 175, 80, 0.7), rgba(76, 175, 80, 0.7)), url('../../../../assets/images/fond-form.png'); */
    background-image: linear-gradient(rgba(30, 86, 49, 0.2), rgba(30, 86, 49, 0.2)), url('../../../../assets/images/fond-form.png');
}
.wave-shape {
    background-color: #4caf50;
    height: 150px;
    border-radius: 15px 15px 50% 50% / 15px 15px 25% 25%;
}
.btn-custom {
    background-color: #4caf50;
    border: none;
    color: white;
}
.btn-custom:hover {
    background-color: #45a049;
}

.form-login{
    width: 411px;
    /* height: 823px; */
    flex-shrink: 0;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.30);
    overflow: hidden;
    /* text-align: center; */
}
/* Wave container to hold the SVG */
.wave-container {
border-radius: 30px 30px 0 0;
overflow: hidden; 
position: relative;
width: 100%;
height: 450px;
}

.wave-top, .wave-bottom {
position: absolute;
top: 0;
left: 0;
width: 100%;
}
.wave-top {
z-index: 1; 
}
.wave-top  svg {
z-index: 1; 
width: 411px;
height: 230px;
flex-shrink: 0;
}

.wave-bottom  svg{
z-index: 0; 
width: 411px;
height: 480px;
flex-shrink: 0;
}

.wave-bottom {
z-index: 0; 
}
.formulaire {
margin-top: -150px;
padding: 40px;
display: flex;
flex-direction: column;

}

.text-connexion {
color: #2E8B57;
font-family: "Playfair Display";
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: left; 
}

label {
color: #2E8B57;
font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

input {
border-radius: 10px;
border: 1px solid #2E8B57;
background: rgba(47, 128, 237, 0.00);
}

button[type="submit"] {
width: 144px;
height: 60px;
flex-shrink: 0;
border-radius: 7px;
border: 1px solid #2E8B57;
background: rgba(47, 128, 237, 0.00); /* Fond transparent */
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
color: #2E8B57;
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.wave-footer {
border-radius:0 0 30px 30px ;
overflow: hidden; 
position: relative;
width: 100%;
height: 130px;
top: -100px;
z-index: 0; 
}

.wave-footer svg {
width: 411px;
height: 140px;
z-index: 0; 
}

.nouveauCompte{
z-index: 1; 
float: right;
color: #FFF;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.nouveauCompte a {
z-index: 1; 
float: right;
color: #FFF;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 5px;
}

.password-forget{
color: #B7BF99;
font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
}