<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Formulaire de Connexion</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet">

    </head>
    <style>
        .wave-shape {
    background-color: #4caf50;
    height: 150px;
    border-radius: 30px 30px 50% 50% / 30px 30px 25% 25%;
}
        /* .wave-container{
            overflow: hidden; 
            position: relative;
            width: 100%;
            height: 300px;
        } */

        /* Wave container to hold the SVG */
.wave-container {
    overflow: hidden; 
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: -10px;
    border-radius: 30px 30px 0 0 / 15px 15px 0 0;
}

.wave-top,
.wave-bottom {
    position: absolute;
    left: 0;
    width: 100%; /* Assurez-vous que les vagues s'étendent sur toute la largeur */
    height: auto; /* Pour préserver les proportions */
}

.wave-top {
    top: 0;
    z-index: 1;
}

.wave-bottom {
    top: -5px;
    z-index: 0;
}

/* Ajustement pour les SVG dans wave-top et wave-bottom */
.wave-container svg {
    width: 100%; /* S'assurer que les SVG occupent la largeur complète */
    height: auto;
    display: block; /* Supprime les espaces blancs inattendus */
}




    </style>
    <body>
        <div class="container">
            <div class="login-card">
                <div class="form-login">

                    <div class="wave-container">
                        <div class="wave-top">
   

                            <svg xmlns="http://www.w3.org/2000/svg" width="558" height="151" viewBox="0 0 558 151" fill="none">
                                <path d="M-120 -100C-120 -103.866 -116.866 -107 -113 -107H570C573.866 -107 577 -103.866 577 -100V118.061C577 122.397 571.216 123.871 569.141 120.063V120.063C527.063 42.8299 432.676 10.9291 352.37 46.7992L201.984 113.973V113.973C106.893 151.808 2.7239 160.623 -97.373 139.306L-118.792 134.745C-119.496 134.595 -120 133.973 -120 133.252V-100Z" fill="#2E8B57"/>
                              </svg>
                        </div>
                        <div class="wave-bottom">

                            <svg xmlns="http://www.w3.org/2000/svg" width="558" height="454" viewBox="0 0 558 454" fill="none">
                                <path d="M68.7418 -297.035C70.6748 -300.383 74.956 -301.53 78.304 -299.597L796.135 114.843C799.483 116.776 800.63 121.057 798.697 124.405L610.362 450.611C607.544 455.493 600.058 452.854 600.924 447.284V447.284C620.723 319.884 519.437 206.035 390.598 210.871L221.446 217.221V217.221C92.2678 215.514 -30.6946 161.488 -119.325 67.4955L-132.526 53.4967C-132.935 53.0626 -133.011 52.4115 -132.713 51.8949L68.7418 -297.035Z" fill="#B7BF99"/>
                              </svg>
                        </div>
                    </div>
                    <div class="formulaire">
                        <h2 class="text-connexion mb-4">Inscription</h2>
                        <form  [formGroup]="signupForm" (ngSubmit)="onSubmit()" >


                            <div class="mb-3">
                                <label for="email" class="form-label">Nom complet</label>
                                  
                                <input type="text" class="form-control" id="email" formControlName="name"  placeholder="Nom complet" required>
                                <div *ngIf="signupForm.controls['name'].invalid && signupForm.controls['name'].touched" class="text-danger">
                                    Le nom est requis.
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="email" class="form-label">Téléphone</label>
                                  
                                <input type="string" class="form-control" id="email" formControlName="telephone"  placeholder="Téléphone" required>
                                <div *ngIf="signupForm.controls['telephone'].invalid && signupForm.controls['telephone'].touched" class="text-danger">
                                    Un numéro de téléphone valide est requis.
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                  
                                <input type="email" class="form-control" id="email" formControlName="email"  placeholder="Email" required>
                                <div *ngIf="signupForm.controls['email'].invalid && signupForm.controls['email'].touched" class="text-danger">
                                    Un email valide est requis.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Mot de passe</label>
                                <div class="input-group">
                                    <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="password" formControlName="password" placeholder="Mot de passe" required>
                                    <button class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility()">
                                        <i class="fa" [ngClass]="{'fa-eye-slash': showPassword, 'fa-eye': !showPassword}"></i>
                                    </button>
                                </div>
                                <div *ngIf="signupForm.controls['password'].invalid && signupForm.controls['password'].touched" class="text-danger">
                                    Le mot de passe doit contenir au moins 4 caractères.
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="password_confirmation" class="form-label">Confirmer mot de passe</label>
                                <div class="input-group">
                                    <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control" id="password_confirmation" formControlName="password_confirmation" placeholder="Confirmer votre mot de passe" required>
                                    <button class="btn btn-outline-secondary" type="button" (click)="toggleConfirmPasswordVisibility()">
                                        <i class="fa" [ngClass]="{'fa-eye-slash': showConfirmPassword, 'fa-eye': !showConfirmPassword}"></i>
                                    </button>
                                </div>
                                <div *ngIf="signupForm.controls['password_confirmation'].invalid && signupForm.controls['password_confirmation'].touched" class="text-danger">
                                    Le mot de passe doit contenir au moins 4 caractères.
                                </div>
                            </div>

                            <button type="submit" class="btn btn-custom"  value="Signup">Inscription</button>
                                
                        </form>


                        <p class="nouveauCompte mt-3 text-end">Déja un  compte?
                            <a class="text-decoration-none"   routerLink="/login">
                                Connexion</a></p>
                    </div>

                </div>
            </div>
        </div>
    </body>
</html>