  <body>
    <!-- heritage du navbar start  -->
    <app-navbar-apprenant></app-navbar-apprenant>
    <!-- heritage du navbar end  -->
<section class="main-image">
  <div class="wave-container">
    <div class="wave-top">
      <svg width="1440" height="417" viewBox="0 0 1440 417" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 6.99999C0 3.134 3.13401 0 7 0H1447C1450.87 0 1454 3.13401 1454 7V367.41C1454 374.242 1445.21 377.027 1441.28 371.442L1404.27 318.923C1331.93 216.259 1200.41 173.81 1081.7 214.808L671.685 356.408V356.408C471.588 417.964 259.946 432.298 53.376 398.285L3.3989 390.055C1.43846 389.733 0 388.038 0 386.051V6.99999Z" fill="#2E8B57"/>
      </svg>
    </div>
    <div class="wave-bottom">
      <svg width="1345" height="631" viewBox="0 0 1345 631" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M74.3976 5.85819C75.1718 2.07051 78.87 -0.372373 82.6576 0.401844L1422.26 274.221C1426.04 274.996 1428.49 278.694 1427.71 282.481L1357.64 625.317C1356.26 632.053 1347.01 632.975 1344.33 626.644L1325.1 581.199C1275.34 463.643 1152.82 394.172 1026.39 411.829L631.433 466.99V466.99C433.317 487.665 233.123 460.989 47.3324 389.16L2.77235 371.933C1.05911 371.27 0.0742315 369.468 0.44208 367.668L74.3976 5.85819Z" fill="#FFD233"/>
      </svg>
    </div>
</div>


<!-- section du contenu  -->
 <div class="contenu-livre-text">
      <div class="context-contenu">
        <h1 class="titre-contenu-main">{{ 'ABOUT_TITLE' | translate }}</h1>
        <p class="pr-mobile">
          {{ 'ABOUT_DESCRIPTION_SHORT' | translate }}
        </p>
        <p class="pr-web">
          {{ 'ABOUT_DESCRIPTION_LONG' | translate }}
        </p>
      </div>
       <div class="image-contenu">
          <!-- <img src="../../../../assets/images/xassida-removebg.png" alt=""> -->
           <img src="../../../../assets/images/AhmaduBamba-removebg-preview.png" alt="">
       </div>
 </div>
 <div class="text-categorie">
 <h1 class="categorie-accueil">{{ 'CATEGORIES_TITLE' | translate }}</h1>
</div>
</section>


  <div class="card-xassidas">
  <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
    @for (categorie of tabCategorie; track categorie.id) {
      <div class="col">
        <div class="card h-100" (click)="onCategoryClick(categorie.id!)">
          @if (categorie.image) {
            <img [src]="categorie.image" class="card-img-top rounded-4" alt="{{categorie.name}}">
          } @else {
            <div class="text-center p-3">{{messageImage}}</div>
          }
          <div class="card-body">
            <h5 class="card-title">{{categorie.name}}</h5>
            <p class="card-text">{{categorie.description || 'Aucune description disponible'}}</p>
          </div>
        </div>
      </div>
    }
  </div>
</div>




  <!-- footer de la page  -->
  <div class="pg-footer">
    <footer class="footer">
      <svg class="footer-wave-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 100" preserveAspectRatio="none">
        <path class="footer-wave-path" d="M851.8,100c125,0,288.3-45,348.2-64V0H0v44c3.7-1,7.3-1.9,11-2.9C80.7,22,151.7,10.8,223.5,6.3C276.7,2.9,330,4,383,9.8 c52.2,5.7,103.3,16.2,153.4,32.8C623.9,71.3,726.8,100,851.8,100z"></path>
      </svg>
      <div class="footer-content">
        <div class="footer-content-column">
          <div class="footer-logo">
            <a class="footer-logo-link">
              <!-- <span class="hidden-link-text">LOGO</span>
              <h1>LOGO</h1> -->
              <img src="../../../../assets/images/logo.png" alt="logo" class="img-fluid">
              <h2 class="apropos-footer">{{ 'ABOUT' | translate }}</h2>
              <p class="p-apropos-footer">
                {{ 'ABOUT_DESCRIPTION' | translate }}
              </p>
            </a>
          </div>

          
        </div>
        <div class="footer-content-column">
          <div class="footer-menu">
            <h2 class="footer-menu-name"> {{ 'SOCIAL_MEDIA_LINKS' | translate }} :</h2>
            <ul id="menu-company" class="footer-menu-list">
              <li class="menu-item menu-item-type-post_type menu-item-object-page">
                <a href="#">Youtube</a>
              </li>
              <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
                <a href="#">Tiktok</a>
              </li>
            </ul>
          </div>
          <div class="footer-menu">
          </div>
        </div>
        <div class="footer-content-column">
          <div class="footer-menu">
            <h2 class="footer-menu-name"> {{ 'CONTACT' | translate }}</h2>
            <ul id="menu-quick-links" class="footer-menu-list">
              <li class="menu-item menu-item-type-custom menu-item-object-custom">
                <a target="_blank" rel="noopener noreferrer" href="#">{{ 'EMAIL' | translate }} </a>
              </li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom">
                <a target="_blank" rel="noopener noreferrer" href="#">{{ 'PHONE' | translate }}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-content-column">
        </div>
      </div>
    </footer>
  </div>
  <!-- fin du footer  -->
  </body>
