
.titre-question{
    font-size: 18px;
    font-weight: bold;
    font-family: "Playfair Display";
    margin-top: 30px;
   }

   .input-reponse{
    font-size: 16px;
    font-weight: 400;
    font-family: "Playfair Display";
   }

          /* section quiz  */
          [id=bordure] {
            width: 100%;
            background: white;
            color: #000;
            margin: 20px auto;
            overflow: auto;
            padding: 2.6rem;
            border: 2px solid #2E8B57;
            }

            header {
            text-align: center;
            border-bottom: #E7D8C9 dashed 1px;
            }

            header h1 {
            margin: 0;
            padding: 0;
            }

            header p {
            padding: 0;
            margin-top: 5px;
            color: #000;
            }

            input[type="submit"] {
            background: #2E8B57;
            border: 0;
            color: #fff;
            padding: 10px 12px;
            cursor: pointer;
            }

            [id=results] {
            margin-top: 1rem;
            }

            [id=results] h3 {
            background: #EEE4E1;
            padding: 10px;
            margin: 10px 0;
            color: #000;
}

        @media (max-width: 991px) {

            form h3{
                color: #000;
                font-family: "Playfair Display";
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
           
        .button-retour-chapitre{
            display: block;
          }

        .raccourcis{
          display: none;
        }


             /* section quiz  */
             [id=bordure] {
            width: 100%;
            background: white;
            color: #000;
            margin: 20px auto;
            overflow: auto;
            padding: 2.6rem;
            border: 2px solid #2E8B57;
            }

            header {
            text-align: center;
            border-bottom: #E7D8C9 dashed 1px;
            }

            header h1 {
            margin: 0;
            padding: 0;
            }

            header p {
            padding: 0;
            margin-top: 5px;
            color: #000;
            }

            input[type="submit"] {
            background: #2E8B57;
            border: 0;
            color: #fff;
            padding: 10px 12px;
            cursor: pointer;
            }

            [id=results] {
            margin-top: 1rem;
            }

            [id=results] h3 {
            background: #EEE4E1;
            padding: 10px;
            margin: 10px 0;
            color: #000;

            }
        /* Partie video d'un cours  */
        .card-xassidas{
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

            margin-bottom: 30px;
          }
          .video-cours iframe {
            width: 100%;
            height: 260px;
            flex-shrink: 0;
            border-radius: 5px;
          }

          .titre-chapitre{
            color: #2E8B57;
            font-family: "Playfair Display";
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-align: center;
          }
          
          .description-chapitre{
            /* width: 381px; */
            width: 100%;
            color: #000;
            font-family: "Playfair Display";
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            line-height: 30px;
            padding: 10px;
          }

          .button-quiz{
            width: 165px;
            height: 48px;
            flex-shrink: 0;
            border-radius: 5px;
            background: #2E8B57;
            color: #FFF;
            font-family: Lato;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border: none;
            margin: 10px;
            margin-bottom: 20px;
          }


          /* button de navigation entre les livres  */
     .button-retour-chapitre{
        width: 60px;
        height: 38px;
        border-radius: 5px;
            background: #2E8B57;
            color: #FFF;
            font-family: Lato;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border: none;
            margin: 10px;
            margin-bottom: 20px;


        color: #FFF;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
            }

       
        .button-nav-listes{
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .categorie-titre{
          text-align: center;
          color: #2E8B57;

          /* H1,H2,H3 : titre */
          font-family: "Playfair Display";
          font-size: 25px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }


        }

       



        @media (min-width: 993px) {
         
         .container{
         margin: 0;
         padding: 0;
        }

        .retourButton a svg {
          display: none;
      }

      .categorie-mobile {
        display: none;
    }

    .list-card-toggle {
      display: none;
  }
     }










     @media (max-width: 768px) {

      .list-card-toggle {
        width: 1.563rem; /* 25px */
        height: 1.563rem; /* 25px */
        flex-shrink: 0;
        fill: #2E8B57;
    }
      .hidden-mobile {
        display: none !important;
      }
    
      .visible-mobile {
        display: block !important;
      }
    
      .mobile-return-btn {
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 1000;
      }
    
      .card-xassidas {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: auto;
      }
/* button de retour  */
      .container-button-return-toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 1.25rem; /* 20px */
        padding-right: 1.25rem; /* 20px */
    }


    .retourButton {
      width: 1.302rem; /* 20.833px */
      height: 1.107rem; /* 17.708px */
      flex-shrink: 0;
      fill: #2E8B57;
      stroke-width: 0.130rem; /* 2.083px */
      stroke: #2E8B57;
  }

    }