    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Categories</title>

  
     <!-- heritage du navbar start  -->
     <app-navbar-apprenant></app-navbar-apprenant>
     <!-- heritage du navbar end  -->


<section class="all-container container-fluid">

  <a  class="buttonRetournRaccoursis" (click)="goBack()">
    <svg xmlns="http://www.w3.org/2000/svg" width="27" height="24" viewBox="0 0 24 21" fill="none">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M22.8333 19.6229C20.2847 16.5118 18.0215 14.7465 16.0437 14.3271C14.066 13.9076 12.183 13.8443 10.3948 14.137V19.7083L2 10.6172L10.3948 2V7.29531C13.7014 7.32135 16.5125 8.50764 18.8281 10.8542C21.1434 13.2007 22.4785 16.1236 22.8333 19.6229Z" fill="#2E8B57" stroke="#2E8B57" stroke-width="2.08333" stroke-linejoin="round"/>
    </svg>
  </a>
  <h1 class="categorie-titre">{{ bookName }}</h1>

    <a *ngIf="showChapterContent && isMobile" (click)="returnToList()" class="mobile-return-btn">
<!-- retourn -->
<i class="fa-solid fa-arrow-rotate-left fa-2xl" style="color: #2E8B57;"></i>
    </a>
    


<section class="liste-xassidas row" *ngIf="chapters.length > 0">

    <div  class="col-3 bg-light raccourcis" [class.hidden-mobile]="showChapterContent && isMobile">
       <div class="wrap">
   <div class="search">
      <input type="text" class="searchTerm" placeholder="{{ 'PLACEHOLDER_SEARCH_BOOK' | translate }}"  [(ngModel)]="searchTerm"  (input)="searchBooks()">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
   </div>
</div>
      <div class="listes">
        <ul>
          @if (chapters.length > 0 && chapters[0].Fichier) {
            <li>
              <a (click)="selectFichier(chapters[0].Fichier)">{{ 'PDF_DOCUMENT' | translate }}</a>
            </li>
          }
          <li *ngFor="let chapter of filteredChapiters" [ngClass]="{'selected-chapter': chapter.isSelected, 'lu-chapter': chapter.lue, 'chapter': !chapter.lue,'chapitre-terminer': chapter.terminer == 1, 'chapitre-fausser': chapter.terminer == 2}">
            <a (click)="selectChapter(chapter)">{{ chapter['Titre du chapitre'] }}</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- <app-chapters-list [bookId]="selectedChapter" (chapterSelected)="selectChapter($event)"></app-chapters-list> -->




@if(selectedFichier) {
  <div class="col-12 col-md-12 bg-white card-xassidas"  [class.visible-mobile]="showChapterContent && isMobile">
      <div class="container">
        <div class="fichier-cours" >
        <iframe [src]="pdfUrl" class="iframe-custom"></iframe>
    </div>
  </div>
</div>
} @else if (selectedChapter) {
  <div class="col-12 col-md-12 bg-white card-xassidas"  [class.visible-mobile]="showChapterContent && isMobile">
    <div class="container">
      <div class="video-cours" *ngIf="selectedChapter.Lien">
        <iframe 
          [src]="safeVideoUrl"
          title="video player" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
          allowfullscreen>
        </iframe>
      </div>
      <div class="description-chapitre">
        <h2 class="titre-chapitre">{{ selectedChapter['Titre du chapitre'] }}</h2>
        <audio src=""></audio>
        <p class="description-chapitre">
          {{ selectedChapter.Description }}
        </p>
        <!-- Boutons pour le Text-to-Speech -->
      <button (click)="readChapterDescription()">Lire le chapitre</button>
      <button (click)="stopReading()">Arrêter la lecture</button>

      </div>
      <!-- <button class="button-quiz"  (click)="startQuiz(selectedChapter.id!)">Commencer le Quiz</button> -->
      <button class="button-quiz" *ngIf="selectedChapter?.id" (click)="checkAndStartQuiz(selectedChapter.id)">
        {{ 'VIEW_QUIZ' | translate }}
      </button>
      
    </div>
  </div>
} @else if(selectedQuiz){
  <div class="col-12 col-md-12 bg-white card-xassidas" [class.visible-mobile]="showChapterContent && isMobile">
    <div class="container">
  <div class="description-chapitre">
    <!-- <h2 class="titre-chapitre">PREAMBULE</h2> -->
    <div id="bordure">
        <header>
          <h1 class="titre-chapitre">{{ quiz.title }}</h1>
        </header>

         <!-- Affichage des résultats du quiz passé -->
  <div *ngIf="passedQuizResult">
    <h2>{{ 'PREVIOUS_QUIZ_RESULTS' | translate }}</h2>
    <h3>Score: {{ passedQuizResult.score }}%</h3>
    <p>Statut: {{ passedQuizResult.is_passed ? "Tu as réussi !🎉" : "Tu n'as pas réussi. Réessaie !" }}</p>
    
    <div *ngFor="let result of passedQuizResult.detailedResults">
      <h3 class="titre-question">{{ result.question.text }}</h3>
      <ul>
        <li *ngFor="let answer of result.answers" 
            [ngClass]="{
              'correct': answer.is_correct,
              'incorrect': !answer.is_correct && answer.user_selected,
              'selected': answer.user_selected
            }">
          {{ answer.text }}
          <!-- <span *ngIf="answer.user_selected"> (Votre réponse)</span> -->
          <span *ngIf="answer.is_correct"> ✅ Correct!</span>
          <span *ngIf="!answer.is_correct && answer.user_selected">❌ Incorrect.</span>
        </li>
      </ul>
    </div>
  </div>

  <!-- Bouton pour recharger le quiz passé -->
  <!-- <button *ngIf="!passedQuizResult" (click)="loadPassedQuizResult(quiz.id)" class="btn btn-success mb-3 mt-3">Voir les résultats précédents</button> -->
  <button *ngIf="hasPassedQuiz && !passedQuizResult" 
  (click)="loadPassedQuizResult(quiz.id)" 
  class="btn btn-success mb-3 mt-3">
  {{ 'SEE_PREVIOUS_RESULTS' | translate }}
</button>


<div class="d-flex justify-content-center">
  <!-- Bouton pour revenir au quiz actuel -->
  <button *ngIf="passedQuizResult" (click)="passedQuizResult = null" class="btn btn-warning mb-3"> {{ 'RETAKE_QUIZ' | translate }}</button>
</div>


        
        <div class="container" *ngIf="quiz">
          <!-- Alerte pour disponibilité du quiz -->
  <div *ngIf="showAlert" 
       class="alert" 
       [ngClass]="{
         'alert-info': alertType === 'info',
         'alert-danger': alertType === 'error'
       }"
       style="
         margin: 0.3125rem;
         padding: 0.3125rem;
         border-radius: 0.625rem;
         text-align: center;
         font-family: 'Playfair Display';
         box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
    
    <h4 style="margin-bottom: 10px; font-weight: bold;">
      🕰️ {{ disponibliteQuizResult}}
    </h4>
    
    <p *ngIf="alertType === 'info'" style="font-size: 16px;">
      Profitez de ce temps pour réviser le chapitre. Vous pourrez retenter le quiz dès que le délai sera écoulé.
    </p>
  </div>

          <!-- <h2>{{ quiz.title }}</h2> -->
          <form #quizForm="ngForm" (ngSubmit)="submitQuiz()">
            <div *ngFor="let question of questions">
              <h3 class="titre-question">{{ question.text }}</h3>
              <div *ngFor="let answer of question.answers">
                <input type="radio" [name]="'q' + question.id" [value]="answer.id" (change)="selectAnswer(question.id, answer.id)" class="input-reponse">
                {{ answer.text }}
              </div>
        
              <!-- After submitting the quiz, show the results -->
              <div *ngIf="submitted">
                <p *ngIf="question.is_correct; else wrongAnswer">
                  ✅ Correct! La bonne réponse est :{{ question.correctAnswer.text }}
                </p>
                <ng-template #wrongAnswer>
                  ❌ Incorrect. La réponse correcte était : {{ question.correctAnswer.text }}
                </ng-template>
              </div>
            </div>
                <!-- Afficher le bouton "Soumettre le quiz" avant la soumission -->
              <!-- <input *ngIf="!submitted" type="submit" value="Soumettre le quiz"> -->
                <!-- Afficher le bouton "Soumettre le quiz" avant la soumission -->
                <div *ngIf="errorMessage" class="alert alert-danger mt-3">
                  🕰️ {{ errorMessage }}
                </div>
                
                <input *ngIf="!submitted" type="submit" value="Soumettre le quiz">

             <!-- Afficher le bouton "Retour au cours" après la soumission -->
              <button *ngIf="submitted" class="retourQuiz" (click)="goToCourse()">Retour au cours</button>
          </form>

            <!-- Afficher un message d'erreur si toutes les questions ne sont pas répondues -->
    
        
         <!-- Afficher le résultat final après la soumission du quiz -->
          <div *ngIf="submitted">
            <h3>Score: {{ score }}%</h3>
            <p *ngIf="isPassed">Tu as réussi !🎉</p>
            <p *ngIf="!isPassed">Tu n'as pas réussi. Réessaie !</p>
          </div>
        </div>
        
        
        <!-- fin test quiz  -->

 
<!-- </div>
</div> -->
      </div>
</div>
</div>
</div>



}
   
</section>


</section>
