
.titre-question{
    font-size: 18px;
    font-weight: bold;
    font-family: "Playfair Display";
    margin-top: 30px;
   }

   .input-reponse{
    font-size: 16px;
    font-weight: 400;
    font-family: "Playfair Display";
   }

          /* section quiz  */
          [id=bordure] {
            width: 100%;
            background: white;
            color: #000;
            margin: 20px auto;
            overflow: auto;
            padding: 0.6rem;
            border: 2px solid #2E8B57;
            }

            header {
            text-align: center;
            border-bottom: #E7D8C9 dashed 1px;
            }

            header h1 {
            margin: 0;
            padding: 0;
            }

            header p {
            padding: 0;
            margin-top: 5px;
            color: #000;
            }

            input[type="submit"] {
            background: #2E8B57;
            border: 0;
            color: #fff;
            padding: 0.625rem 0.75rem;
            cursor: pointer;
            }

            [id=results] {
            margin-top: 1rem;
            }

            [id=results] h3 {
            background: #EEE4E1;
            padding: 10px;
            margin: 10px 0;
            color: #000;
}

        @media (max-width: 991px) {

            form h3{
                color: #000;
                font-family: "Playfair Display";
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
           
        .button-retour-chapitre{
            display: block;
          }

        .raccourcis{
          display: none;
        }


             /* section quiz  */
             [id=bordure] {
            width: 100%;
            background: white;
            color: #000;
            margin: 20px auto;
            overflow: auto;
            padding: 0.6rem;
            border: 2px solid #2E8B57;
            }

            header {
            text-align: center;
            border-bottom: #E7D8C9 dashed 1px;
            }

            header h1 {
            margin: 0;
            padding: 0;
            }

            header p {
            padding: 0;
            margin-top: 5px;
            color: #000;
            }

            input[type="submit"] {
            background: #2E8B57;
            border: 0;
            color: #fff;
            padding: 10px 12px;
            cursor: pointer;
            }

            [id=results] {
            margin-top: 1rem;
            }

            [id=results] h3 {
            background: #EEE4E1;
            padding: 10px;
            margin: 10px 0;
            color: #000;

            }
        /* Partie video d'un cours  */
        .card-xassidas{
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

            margin-bottom: 30px;
          }
          .video-cours iframe {
            width: 100%;
            height: 260px;
            flex-shrink: 0;
            border-radius: 5px;
          }

          .titre-chapitre{
            color: #2E8B57;
            font-family: "Playfair Display";
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-align: center;
          }
          
          .description-chapitre{
            /* width: 381px; */
            width: 100%;
            color: #000;
            font-family: "Playfair Display";
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            line-height: 30px;
            padding: 10px;
          }

          .button-quiz{
            width: 165px;
            height: 48px;
            flex-shrink: 0;
            border-radius: 5px;
            background: #2E8B57;
            color: #FFF;
            font-family: Lato;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border: none;
            margin: 10px;
            margin-bottom: 20px;
          }


          /* button de navigation entre les livres  */
     .button-retour-chapitre{
        width: 60px;
        height: 38px;
        border-radius: 5px;
            background: #2E8B57;
            color: #FFF;
            font-family: Lato;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border: none;
            margin: 10px;
            margin-bottom: 20px;


        color: #FFF;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
            }

       
        .button-nav-listes{
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .categorie-titre{
          text-align: center;
          color: #2E8B57;

          /* H1,H2,H3 : titre */
          font-family: "Playfair Display";
          font-size: 25px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }


        }

       



        @media (min-width: 993px) {
         
         .container{
         margin: 0;
         padding: 0;
        }

        .retourButton a svg {
          display: none;
      }

      .categorie-mobile {
        display: none;
    }

    .list-card-toggle {
      display: none;
  }
     }










     @media (max-width: 768px) {

      .list-card-toggle {
        width: 1.563rem; /* 25px */
        height: 1.563rem; /* 25px */
        flex-shrink: 0;
        fill: #2E8B57;
    }
      .hidden-mobile {
        display: none !important;
      }
    
      .visible-mobile {
        display: block !important;
      }
    
      .mobile-return-btn {
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 1000;
      }
    
      .card-xassidas {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: auto;
      }
/* button de retour  */
      .container-button-return-toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 1.25rem; /* 20px */
        padding-right: 1.25rem; /* 20px */
    }


    .retourButton {
      width: 1.302rem; /* 20.833px */
      height: 1.107rem; /* 17.708px */
      flex-shrink: 0;
      fill: #2E8B57;
      stroke-width: 0.130rem; /* 2.083px */
      stroke: #2E8B57;
  }

    }





   .recherche{
        width: 266px;
        height: 50px;
        flex-shrink: 0;
        border-radius: 10px;
        border: 2px solid var(--griy, #D9D9D9);
        background: #FFF;
   }

   .listes{
    width: 100%;
    height: auto;
    flex-shrink: 0;

    border-radius: 10px;
    border: 1px solid var(--griy, #D9D9D9);
    background: #FFF;
    margin-top: 10px;
   }

   /* listes de raccourcis  */
   /* .listes ul li {
    color: #000;
    font-family: "Playfair Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-decoration: none;
    list-style: none;
   } */

   .listes ul {
  padding: 1em;
  margin: auto;
  border-radius: 1em;
  /* background-color: #2E8B57; */

  list-style: none;
  /* max-width: 30em; */

   /* Ajout de la hauteur maximale et du défilement vertical */
   max-height: 70vh; 
  overflow-y: auto;
}

/* .listes li {
  transition: all .2s;
  border-bottom: 2px solid #FFD233;
} */
/* .selected-chapter {
  transition: all .2s;
  border-bottom: 2px solid #FFD233; 
}

.lu-chapter {
  border-bottom: 2px solid #2E8B57; 
} */

/* chapitre terminer ou lu  */
.chapter {
  border-bottom: 2px solid #cccccc;
}

.selected-chapter {
  transition: all 0.2s;
  border-bottom: 2px solid #2E8B57; 
}

.lu-chapter {
  border-bottom: 2px solid #FFD233;
}
/* Chapitre réussi (vert) */
.chapitre-terminer {
  transition: all 0.2s;
  border-bottom: 2px solid #2E8B57; 
}

/* Chapitre échoué (rouge) */
.chapitre-fausser {
  transition: all 0.2s;
  border-bottom: 2px solid #df2d0e; 
}
.listes ul li a {
  color: #2E8B57;

/* H1,H2,H3 : titre */
font-family: "Playfair Display";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
}
.listes li + li {
  margin-top: 1em;
}

.listes li > a {
  display: block;
  padding: .5em;
}

.listes ul > li:hover {
  background-color: #eee;
}

/* .listes ul:has(li:hover) > li:not(:hover) {
  opacity: .5;
} */

   .titre-h2{
    color: #2E8B57;

    /* H1,H2,H3 : titre */
    font-family: "Playfair Display";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   }
/* .raccourcis{
   margin: 20px;
} */

.liste-xassidas{
  display: flex;
  width: 100%;
  justify-content: space-around;
}
      

       


        /* rechercher un livre  */
        .search {
            width: 100%;
            position: relative;
            display: flex;
          }

          .searchTerm {
            width: 100%;
            border: 3px solid #FFD233;
            border-right: none;
            padding: 5px;
            height: 100%;
            border-radius: 5px 0 0 5px;
            outline: none;
            color: #9DBFAF;
            font-family: "Playfair Display";
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
          }

          .searchTerm:focus{
            color: #2E8B57;
            font-family: "Playfair Display";
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
          }

          .searchButton {
            width: 40px;
            height: 36px;
            border: 1px solid #FFD233;
            background: #FFD233;
            text-align: center;
            color: #2E8B57;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
            font-size: 20px;
          }


          /* Partie video d'un cours  */
          .card-xassidas{
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

            margin-bottom: 30px;
          }
          .video-cours iframe {
            width:100%;
            height:60vh;
            flex-shrink: 0;
            border-radius: 5px;
          }

          .fichier-cours iframe {
            width: 100%;
            height: 80vh;
            flex-shrink: 0;
            border-radius: 5px;
            background-color: #2E8B57;
          }
 
          .titre-chapitre{
            color: #2E8B57;
            font-family: "Playfair Display";
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-align: center;
          }
          
          .description-chapitre{
            width: 913px;
            color: #000;
            font-family: "Playfair Display";
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            line-height: 30px;
            padding: 10px;
          }

          .button-quiz{
            width: 165px;
            height: 48px;
            flex-shrink: 0;
            border-radius: 5px;
            background: #2E8B57;
            color: #FFF;
            font-family: Lato;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border: none;
            margin: 10px;
            margin-bottom: 20px;
          }

          .button-retour-chapitre{
            display: none;
          }

          /* //responsive en version mobile  */
          @media (max-width: 768px) {

          
            .raccourcis{
              /* display: none; */
              width: 100%;
              display: block;
              height: 100vh;
          position: fixed;
              left:0;
              top: 17%;
            }

           

            .raccourcis{
             display: block;
            }

            /* .card-xassidas{
              display: none;
            } */

            .all-container{
            margin-top: 80px;
            overflow: hidden;
            }

            .categorie-titre{
            text-align: center;
            }

            .card-xassidas {
                height: 76vh;
                /* overflow-y:auto; */
                /* margin-left: 28%; */
                position: fixed;
                left: 0px;
                top: 150px;
                padding: 5px;
                overflow-y: auto;
                overflow-x: hidden;
            }

            /* css responsive de la partie cours  */
  
    .categorie-titre{
      position: fixed;
            left: 35%;
            top: 4.875rem;
            text-align: center;
            color: #2E8B57;
    }

    .buttonRetournRaccoursis{
      position: fixed;
            left: 1.5%;
            top: 4.875rem;
            text-align: center;
            color: #2E8B57;
            cursor: pointer;
    }

    .mobile-return-btn{
      position: fixed;
            left: 85%;
            top: 4.875rem;
            text-align: center;
            color: #2E8B57;
            cursor: pointer;
    }

          }


      

        @media (max-width: 991px) {

     .retourButton{
        width: 20.833px;
        height: 17.708px;
        flex-shrink: 0;
        fill: #2E8B57;
        stroke-width: 2.083px;
        stroke: #2E8B57;
        margin-left: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
        
     }
            .button-retour-chapitre{
            display: block;
          }


        /* Partie video d'un cours  */
        .card-xassidas{
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

            margin-bottom: 30px;
          }
      

          .fichier-cours iframe {
            width: 100%;
            height: 100vh;
            flex-shrink: 0;
            border-radius: 5px;
          }

          .titre-chapitre{
            color: #2E8B57;
            font-family: "Playfair Display";
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-align: center;
          }
          
          .description-chapitre{
            /* width: 381px; */
            width: 100%;
            color: #000;
            font-family: "Playfair Display";
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            line-height: 30px;
            padding: 10px;
          }

          .button-quiz{
            width: 165px;
            height: 48px;
            flex-shrink: 0;
            border-radius: 5px;
            background: #2E8B57;
            color: #FFF;
            font-family: Lato;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border: none;
            margin: 10px;
            margin-bottom: 20px;
          }


          /* button de navigation entre les livres  */
     .button-retour-chapitre{
        width: 60px;
        height: 38px;
        border-radius: 5px;
            background: #2E8B57;
            color: #FFF;
            font-family: Lato;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border: none;
            margin: 10px;
            margin-bottom: 20px;


        color: #FFF;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
            }

       
        .button-nav-listes{
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .categorie-titre{
          text-align: center;
          color: #2E8B57;

          /* H1,H2,H3 : titre */
          font-family: "Playfair Display";
          font-size: 25px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }


        }

       



        @media (min-width: 993px) {
         
         .container{
         margin: 0;
         padding: 0;
        }

        .container .retourButton {
            display: none;
          }
     }

     @media (min-width: 968px) {
         
         .all-container{
         margin-top: 200px;
         overflow: hidden;
        }


     .iframe-custom {
  /* border: 3px solid green;  */
  border-radius: 5px; 
  background-color: #2E8B57;
}

ul li a {
  cursor: pointer;
}

.raccourcis {
      height: 100vh;
        position: fixed;
            left: 20px;
            top: 180px;
      
    }
    .card-xassidas {
      height: 76vh;
      /* overflow-y:auto; */
      /* margin-left: 28%; */
      position: fixed;
            left: 28%;
            top: 180px;
            overflow-y: auto;
            overflow-x: hidden;
    }
    .categorie-titre{
      position: fixed;
            left: 50%;
            top: 6.875rem;
            text-align: center;
            color: #2E8B57;
    }

    .buttonRetournRaccoursis{
      position: fixed;
            left: 1.5%;
            top: 6.875rem;
            text-align: center;
            color: #2E8B57;
            cursor: pointer;
    }

    

     }


    
  